.loader {
        aspect-ratio: 1;
        border-radius: 50%;
        background: rgba(45, 149, 150,0.2);
        animation: l10 1.5s infinite linear;
      }
      
      @keyframes l10 {
        0% {
          box-shadow: 
            0 -30px rgba(19, 93, 102, 0.7), 
            calc(30px*0.707) calc(-30px*0.707) rgba(227, 254, 247, 0.5), 
            30px 0 rgba(19, 93, 102, 0.3), 
            0 0 rgb(119, 176, 170),
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170),
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170);
        }
        12.5% {
          box-shadow: 
            0 0 rgba(19, 93, 102, 0.7), 
            calc(30px*0.707) calc(-30px*0.707) rgb(119, 176, 170), 
            30px 0 rgba(19, 93, 102, 0.7), 
            calc(30px*0.707) calc(30px*0.707) rgb(119, 176, 170),
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170),
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170);
        }
        25% {
          box-shadow: 
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170), 
            30px 0 rgba(19, 93, 102, 0.7), 
            calc(30px*0.707) calc(30px*0.707) rgb(119, 176, 170),
            0 30px rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170),
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170);
        }
        37.5% {
          box-shadow: 
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170), 
            0 0 rgba(19, 93, 102, 0.7), 
            calc(30px*0.707) calc(30px*0.707) rgb(119, 176, 170),
            0 30px rgba(19, 93, 102, 0.7), 
            calc(-30px*0.707) calc(30px*0.707) rgb(119, 176, 170),
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170);
        }
        50% {
          box-shadow: 
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170), 
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170),
            0 30px rgba(19, 93, 102, 0.7), 
            calc(-30px*0.707) calc(30px*0.707) rgb(119, 176, 170), 
            -30px 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170);
        }
        62.5% {
          box-shadow: 
            0 0 rgba(227, 254, 247, 1), 
            0 0 rgb(119, 176, 170), 
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170),
            0 0 rgba(19, 93, 102, 0.7), 
            calc(-30px*0.707) calc(30px*0.707) rgb(119, 176, 170), 
            -30px 0 rgba(19, 93, 102, 0.7), 
            calc(-30px*0.707) calc(-30px*0.707) rgb(119, 176, 170);
        }
        75% {
          box-shadow: 
            0 -30px rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170), 
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170),
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170), 
            -30px 0 rgba(19, 93, 102, 0.7), 
            calc(-30px*0.707) calc(-30px*0.707) rgb(119, 176, 170);
        }
        87.5% {
          box-shadow: 
            0 -30px rgba(19, 93, 102, 0.7), 
            calc(30px*0.707) calc(-30px*0.707) rgb(119, 176, 170), 
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170),
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170), 
            0 0 rgba(19, 93, 102, 0.7), 
            calc(-30px*0.707) calc(-30px*0.707) rgb(119, 176, 170);
        }
        100% {
          box-shadow: 
            0 -30px rgba(227, 254, 247, 1), 
            calc(30px*0.707) calc(-30px*0.707) rgb(119, 176, 170), 
            30px 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170),
            0 0 rgba(227, 254, 247, 1), 
            0 0 rgb(119, 176, 170), 
            0 0 rgba(19, 93, 102, 0.7), 
            0 0 rgb(119, 176, 170);
        }
      }
      