body {
  background-color: rgba(252, 252, 247, 0.756);
}
.css-1i4bic6-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  background-color: #003C43;
  border: none !important;
  color: white;
}
.css-1i4bic6-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected):hover {
  background-color: #003C43;
  border: none !important;
  color: #000;
}
.css-5x7nf8-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  will-change: background-color;
  background-color: #135D66 !important;
}
.css-nk89i7-MuiPickersCalendarHeader-root {
  background-color: #003C43!important;
  color: #fff;
}
.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon,
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button ,
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button{
  color: #fff !important;
}
